.bg-image{
  text-align: center;
  /* line-height: 100vh; */
  width: 100vw;
  height: 100vh;
  background-size: cover; 
  color: white;
  font-size: 5em;
  display: table-cell;
  vertical-align: middle;
  font-family: 'Montserrat', sans-serif;
}

body {
 margin: 0;
 padding: 0;

}

.component-daytime{
  display: inline-block;
}

.input_text{
  vertical-align: bottom;
  font-size: 0.5em;
  margin: 0 0.2em;
}
.input_day, .input_time{
  color: white;
  background-color: transparent;
  text-align: center;
  font-size: 0.6em;
  border: 0px 0px 2px 0px;
  vertical-align: bottom;
  outline: 0;
  border-width: 0 0 1px;
  border-color: darkgrey;
  margin: 0 0.2em;
  font-family: inherit;
}

.input_day{
  width: 300px;
}

.input_time{
  width: 200px;
}

.input_day:hover, .input_time:hover {
  border-color: grey;
}


.day_span, .time_span {
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
}


 
.picker-item:nth-child(2) {
  background: -webkit-linear-gradient(#181818, #cacaca);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.picker-item:nth-child(6) {
  background: -webkit-linear-gradient( #cacaca, #181818);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}


.picker-title {
  color: white;
  font-family: 'Montserrat', sans-serif;
}

.picker-dialog {
  background:  #212121;
  border: none;
  font-family: 'Montserrat', sans-serif;
}

.picker-cancel {
  color: white;
  font-family: 'Montserrat', sans-serif;
}

.picker-confirm, .picker-picked {
  color: #57D9CB;
  font-family: 'Montserrat', sans-serif;
}

.picker-header {
  border-bottom: none;
}

.picker-body {
  background: #171717;
  font-family: 'Montserrat', sans-serif;
}

.picker-footer {
  border-top: none;
  font-family: 'Montserrat', sans-serif;
}

.picker-cell__body:before, .picker-cell__body:after {
  background-image: none;
}

.picker-cancel:focus,
.picker-cancel:hover,
.picker-confirm:focus,
.picker-confirm:hover {
  background-color:#303030;
  outline:none
}

.countdown_button, .reset_button{
  font-size: 0.3em;
  padding: 15px 27px;
  border-radius: 25px;
  color: #5E7072;
  background-color: #F1F1F1;
  border: none;
  outline: none;
  font-family: 'Montserrat', sans-serif;
}

.countdown_button:hover, .reset_button:hover{
 background-color: #DCDCDC;
}

.countdown_button:active, .reset_button:active{
  background-color: #C4C4C4;
}

@media (max-width: 767px) {
  .day_span, .time_span {
    width: 100%;
  }

  .input_text{
    font-size: 0.4em;
  }

  .input_day, .input_time{
    font-size: 0.5em;
  }

  .input_day{
    width: 250px;
  }
  
  .input_time{
    width: 200px;
  }

  .countdown_button{
    font-size: 0.2em;
  }

  .reset_button{
    font-size: 0.2em;
  }
}

